{% extends "base.html" %}

{% block content %}
<h1>Edit Note</h1>

<form method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="{{ note.title }}">

  <label for="body">Body:</label>
  <textarea id="body" name="body">{{ note.body }}</textarea>

  <label for="tags">Tags:</label><br>
  <input type="text" id="tags" name="tags" placeholder="tag1,tag2,tag3"><br>

  <label for="project">Project:</label><br>
  <input type="text" id="project" name="project"><br>

  <input type="submit" value="Save">
</form>
{% endblock %}
